view.mvc-webapp/bin/Debug/net6.0/appsettings.Development.json
view.mvc-webapp/bin/Debug/net6.0/appsettings.json
view.mvc-webapp/bin/Debug/net6.0/view.mvc-webapp
view.mvc-webapp/bin/Debug/net6.0/view.mvc-webapp.deps.json
view.mvc-webapp/bin/Debug/net6.0/view.mvc-webapp.dll
view.mvc-webapp/bin/Debug/net6.0/view.mvc-webapp.pdb
view.mvc-webapp/bin/Debug/net6.0/view.mvc-webapp.runtimeconfig.json
view.mvc-webapp/bin/Debug/net6.0/view.mvc-webapp.staticwebassets.runtime.json
view.mvc-webapp/bin/Debug/net6.0/ref/view.mvc-webapp.dll
view.mvc-webapp/obj/staticwebassets.pack.sentinel
view.mvc-webapp/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
view.mvc-webapp/obj/Debug/net6.0/apphost
view.mvc-webapp/obj/Debug/net6.0/staticwebassets.build.json
view.mvc-webapp/obj/Debug/net6.0/staticwebassets.development.json
view.mvc-webapp/obj/Debug/net6.0/view.mvc-webapp.AssemblyInfo.cs
view.mvc-webapp/obj/Debug/net6.0/view.mvc-webapp.AssemblyInfoInputs.cache
view.mvc-webapp/obj/Debug/net6.0/view.mvc-webapp.assets.cache
view.mvc-webapp/obj/Debug/net6.0/view.mvc-webapp.csproj.AssemblyReference.cache
view.mvc-webapp/obj/Debug/net6.0/view.mvc-webapp.csproj.CoreCompileInputs.cache
view.mvc-webapp/obj/Debug/net6.0/view.mvc-webapp.csproj.FileListAbsolute.txt
view.mvc-webapp/obj/Debug/net6.0/view.mvc-webapp.dll
view.mvc-webapp/obj/Debug/net6.0/view.mvc-webapp.GeneratedMSBuildEditorConfig.editorconfig
view.mvc-webapp/obj/Debug/net6.0/view.mvc-webapp.genruntimeconfig.cache
view.mvc-webapp/obj/Debug/net6.0/view.mvc-webapp.GlobalUsings.g.cs
view.mvc-webapp/obj/Debug/net6.0/view.mvc-webapp.MvcApplicationPartsAssemblyInfo.cache
view.mvc-webapp/obj/Debug/net6.0/view.mvc-webapp.pdb
view.mvc-webapp/obj/Debug/net6.0/view.mvc-webapp.RazorAssemblyInfo.cache
view.mvc-webapp/obj/Debug/net6.0/view.mvc-webapp.RazorAssemblyInfo.cs
view.mvc-webapp/obj/Debug/net6.0/ref/view.mvc-webapp.dll
view.mvc-webapp/obj/Debug/net6.0/scopedcss/bundle/view.mvc-webapp.styles.css
view.mvc-webapp/obj/Debug/net6.0/scopedcss/projectbundle/view.mvc-webapp.bundle.scp.css
view.mvc-webapp/obj/Debug/net6.0/scopedcss/Views/Shared/_Layout.cshtml.rz.scp.css
